.hero{
	display:flex;
	justify-content:space-between;
	align-items:center
}
img{
	width:80%;
	height:50%;
	object-fit:cover;
}
button{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:25px
}